In [2]:
import pandas as pd
import pymongo

df=pd.read_csv('EasyVisa.csv')
df.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [3]:
# df should be converted into dict before we push it to mongodb

data = df.to_dict(orient='records')
# data

In [23]:
DB_NAME = "anurag22413_db_user"
COLLECTION_NAME = "anurag22413_db_user_data"
CONNECTION_URL = "mongodb+srv://anurag22413_db_user:OnFJG3otHOpjHHpK@cluster0.q7au2bg.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
# above, either remove your credentials or delete the mongoDB resource bofore pushing it to github.

In [24]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [25]:
# Uploading data to MongoDB
rec = collection.insert_many(data)

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'errmsg': "E11000 duplicate key error collection: anurag22413_db_user.anurag22413_db_user_data index: _id_ dup key: { _id: ObjectId('68b732e9679496116fe7d705') }", 'keyPattern': {'_id': 1}, 'keyValue': {'_id': ObjectId('68b732e9679496116fe7d705')}, 'op': {'case_id': 'EZYV01', 'continent': 'Asia', 'education_of_employee': 'High School', 'has_job_experience': 'N', 'requires_job_training': 'N', 'no_of_employees': 14513, 'yr_of_estab': 2007, 'region_of_employment': 'West', 'prevailing_wage': 592.2029, 'unit_of_wage': 'Hour', 'full_time_position': 'Y', 'case_status': 'Denied', '_id': ObjectId('68b732e9679496116fe7d705')}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}